
:root{
    --blue:#2f66ec;
    --purple:rgb(178, 126, 227);
    --orange: #ed8335;
    --green:#58bf88;
    }

.navbar{
  background-color: black !important;
}

.nav-link{
  color: white !important;
}

.navbar-brand {
  color: white !important;
}

.btn-outline-success{
      --bs-btn-color: var(--purple);
    --bs-btn-border-color: var(--purple);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--purple);
    --bs-btn-hover-border-color: var(--purple);
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--purple);
    --bs-btn-active-border-color: var(--purple);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--purple);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--purple);
    --bs-gradient: none;
}

.dropdown-menu[data-bs-popper] {
  top: 101%;
  left: -70px;
  margin-top: var(--bs-dropdown-spacer);
}

/* Banner image */

.banner-img{
  padding-top: 60px;
margin: auto;
}

/* More detail button */
.btn-info{
  background-color: var(--purple);
  color: white;
  font-weight: 500 !important;
  border-color: var(--purple);
}
.btn-info:hover{
  background-color: var(--orange);
  color: white;
  border-color: var(--orange);
}

/* Add to cart button */
.btn-dark{
  background-color: white;
  color: var(--purple);
  border-color: white;
  border-color: var(--purple);
  font-weight: 500 !important;
}

.btn-dark:hover{
  background-color: var(--orange);
  color: white;
  border-color: var(--orange);
}

/* Card */
.card{
  background-color: var(--orange) !important;
}

.card-img-top{
  width: inherit;
  height: 300px;
}

/* Dashboard */

.dashboard-menu h4 {
  background-color: black !important;
  color: white;
  padding: 20px 0px;
}

.list-group-item.active {
  z-index: 2;
  color: black;
  background-color:  var(--green);
  border-color: var(--green);
}