:root{
    --blue:#2f66ec;
    --purple:rgb(178, 126, 227);
    --orange: #e2d1c0;
    --green:#58bf88;
    }

    /* Navbar */

.navbar{
  background-color: black !important;
}

.nav-link{
  color: white !important;
}

.navbar-brand {
  color: white !important;
}

.btn-outline-success{
      --bs-btn-color: var(--purple);
    --bs-btn-border-color: var(--purple);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--purple);
    --bs-btn-hover-border-color: var(--purple);
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--purple);
    --bs-btn-active-border-color: var(--purple);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--purple);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--purple);
    --bs-gradient: none;
}

.dropdown-menu[data-bs-popper] {
  top: 101%;
  left: -70px;
  margin-top: var(--bs-dropdown-spacer);
}

/* Banner image */

.banner{
margin: auto;
padding: 10px;
}


.banner-img{
  padding-top: 60px;
margin: auto;
}

/* More detail button */
.btn-info{
  background-color: var(--purple);
  color: white;
  font-weight: 500 !important;
  border-color: var(--purple);
}
.btn-info:hover{
  background-color: var(--orange);
  color: white;
  border-color: var(--orange);
}

/* Load more button */
.loadmore{
  background-color: var(--green);
}

/* Add to cart button */
.btn-dark{
  background-color: white;
  color: var(--purple);
  border-color: white;
  border-color: var(--purple);
  font-weight: 500 !important;
}

.btn-dark:hover{
  background-color: var(--orange);
  color: white;
  border-color: var(--orange);
}

/* reset button */
.resetButton{
  background-color: #b61414 !important;
}

/* headings */
.heading{
  font-family: "Brush Script MT", cursive;
  font-weight: 500;
}

/* Filter column */
.filters{
  padding-top: 30px;
}

.filterContent{
  font-size: 10rem !important;
}

/* Card */
.card{
  background-color: var(--orange) !important;
  width: 300px;
}
.cardHomepage{
  background-color: var(--orange) !important;
  width: auto !important;
}

.cardCategory{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 143px;
  padding: 0px 0px;
  font-size: 24px;
  text-transform: uppercase;
  color: antiquewhite;

}

.cat-btn {
  height: 143px;
  padding: 40px 0px;
  font-size: 24px;
  text-transform: uppercase;
  color: antiquewhite;
}

.card-img-top{
  width: inherit;
  height: 300px;
}

.details-card{
  margin: 15vh;
}

.img-detail{
  padding-left: 20px;
}
/* Dashboard */

.dashboard-menu h4 {
  background-color: black !important;
  color: white;
  padding: 20px 0px;
}

.list-group-item.active {
  z-index: 2;
  color: black;
  background-color:  var(--green);
  border-color: var(--green);
}